.collection-footer{
  text-align: center;
 
 

.profile-photo{
  width:auto;
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 30px;
  vertical-align:middle
}
.collection-sub{
  flex: 1;
  flex-direction: row;
  
}

p{
  text-align: center;
  font-size: medium;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align:middle
  
  
}

h2{
  padding-left: 20px;
}
}