.directory{
    width: 100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10%;
    
    
.img{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 500px;
    height:300px;
   }
.greeting{
    font-size: medium;
    font-weight: bold;
    
}
.heading{
    padding-left: 50%;
    
}

}