.homepage{
    padding-top:80;
    align-items: center;

.image{
    width:10;
    height:30;
    padding:50;
    flex:1;
    
}
.greeting{
    font-size: large;
    text-align: center;
   font-weight: bold;
}

}